---
title: Laureates
layout: base
pagination:
    data: laureates.laureates
    size: 1
    alias: laureate
    addAllPagesToCollections: true
permalink: "laureates/{{ laureate.id  | slug }}-{{ laureate.fullName.en | append: laureate.orgName.en | slug}}/"
tags: 'laureates'
eleventyComputed:
    title: "{{ laureate.fullName.en | append: laureate.orgName.en }}"
---
<ul>
  <li>Born {{ laureate.birth.date }}<br/>
    {{ laureate.birth.place.locationString.en }}</li>
  <li>Additional information
    <ul>
      {% for l in laureate.links | contains: "rel", "external" %}
        <li>
          <a href="{{ l.href }}">link {{ l.href }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>
<h3>Nobel Prizes</h3>
<ul>
  {% for prize in laureate.nobelPrizes %}
    <li>{{ prize.awardYear }} &mdash; {{ prize.categoryFullName.en }}
      <br/>{{ prize.motivation.en }}

      <ul>
        {% for a in prize.affiliations %}
          <li>{{ a.name.en }}<br/>
            {{ a.locationString.en }}</li>
        {% endfor %}
      </ul>

    </li>
  {% endfor %}
</ul>