---
title: Prizes
layout: base
pagination:
    data: prizes.nobelPrizes
    size: 1
    alias: prz
    addAllPagesToCollections: true
permalink: "prizes/{{ prz.awardYear  | slug }}-{{ prz.category.en | slug}}/"
tags: 
    - 'prizes'
    - 'recent'
eleventyComputed:
    title: "{{ prz.awardYear }} {{ prz.categoryFullName.en }}"
---
<ul class="listing">
  {% for laureate in prz.laureates %}
    <li>
      <span class="name">
        {% if laureate.knownName.en %}
          {{ laureate.knownName.en }}
        {% elsif laureate.orgName.en %}
          {{ laureate.orgName.en }}{% endif %}
      </span><br/>
      <span class="motivation">{{ laureate.motivation.en }}</span>
    </li>
  {% endfor %}
</ul>